@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Oranienbaum&family=Poller+One&display=swap');

body {
  font-family: 'Poller One', cursive;
  background-image: url("./Images/sky.jpg");
  color: #FFE818;
  background-attachment: fixed;
}